@model IEnumerable<CadastroEstabelecimentos.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h4>Lista de Categorias</h4>

<br />
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th><b><a asp-action="Create" class="btn btn-dark">Nova Categoria</a></b></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <div class="form-group">
                    <a class="btn btn-success" type="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-warning" type="button" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" type="button" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
