@model CadastroEstabelecimentos.Models.Estabelecimento
@{
    ViewData["Title"] = "Delete";
}
<div class="card">
    <div class="card-header">
        <h4>Você tem certeza que deseja deletar?</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <ul>
                <li>
                    <b>@Html.DisplayNameFor(model => model.RazaoSocial):</b>

                    @Html.DisplayFor(model => model.RazaoSocial)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.NomeFantasia):</b>
                    @Html.DisplayFor(model => model.NomeFantasia)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Cnpj):</b>
                    @Html.DisplayFor(model => model.Cnpj)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Email):</b>
                    @Html.DisplayFor(model => model.Email)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Endereco):</b>

                    @Html.DisplayFor(model => model.Endereco)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Cidade):</b>

                    @Html.DisplayFor(model => model.Cidade)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Estado):</b>

                    @Html.DisplayFor(model => model.Estado)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Telefone):</b>

                    @Html.DisplayFor(model => model.Telefone)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.DataCadastro):</b>

                    @Html.DisplayFor(model => model.DataCadastro)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Agencia)</b>

                    @Html.DisplayFor(model => model.Agencia)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Conta):</b>

                    @Html.DisplayFor(model => model.Conta)
                </li>
                <li>
                    <b>@Html.DisplayNameFor(model => model.Categoria)</b>

                    @Html.DisplayFor(model => model.Categoria.Nome)
                </li>
            </ul>

        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="btn btn-warning" type="button" asp-action="Index">Voltar para Lista</a>
        </form>

    </div>
</div>

