@model IEnumerable<CadastroEstabelecimentos.Models.Estabelecimento>
@{
    ViewData["Title"] = "Estabelecimentos";
}

<h4>Lista de Estabelecimentos</h4>
<!-- Botão para cadastrar novo estabelecimento-->
<br />
<table class="table table-striped table-hover">
    <thead>
        <tr class="table-active">
            <th>
                @Html.DisplayNameFor(model => model.RazaoSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th><b><a asp-action="Create" class="btn btn-dark">Novo Cadastro</a></b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RazaoSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <div class="form-group">
                    <a class="btn btn-success" type="button" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-warning" type="button" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a class="btn btn-danger" type="button" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </div>
            </td>
        </tr>

        }
    </tbody>

</table>
